<router-outlet></router-outlet>
<div>
    <app-navbar></app-navbar>

    <div class="header">
        <h2>LegalEye Redesigned Icons</h2>
    </div>

    <div class="descriptions-container">
        <div class="descriptions">
            <h3>Objective:</h3>
            <p>Develop a refreshed set of navigation icons for LegalEye, 
                focusing on a friendlier, more rounded visual style to enhance 
                usability and better reflect the platform’s approachable, 
                welcoming identity.
            </p>
            <h3>Design Approach:</h3>
            <ul>
                <li><strong>Simplicity & Clarity</strong> – Ensure recognizability even at smaller sizes, minimizing visual noise.</li>
                <li><strong>Consistent & Precise Execution</strong> – Applied uniform stroke weight, designed on a 24x24 grid, and aligned icons for a cohesive and pixel-perfect interface.</li>
                <li><strong>Recognizable & Contextual</strong> – Ensured each icon is easy to identify at a glance and clearly represents its associated section or function.</li>
                <li><strong>Minimal Changes from Original</strong> – Preserved key visual elements of the original icons to maintain familiarity and reduce user relearning.</li>
            </ul>
            <h3>Role:</h3>
            <p>Marketing and Creatives (Intern)</p>
            <h3>Tools:</h3>
            <p>Figma</p>
        </div>
        
    </div>

    <!-- Not available -->
    <div class="links">
    </div>

    <div class="body-container">
        <div class="mockup-container">
            <img src="../assets/graphic-design/lawadvisor/1.png" alt="legaleye-1" draggable="false">
            
        </div>
        
    </div>
    
</div>

