<router-outlet></router-outlet>
<div>
    <app-navbar></app-navbar>

    <div class="header">
        <h2>Extravaganza</h2>
    </div>

    <div class="descriptions-container">
        <div class="descriptions">
            <h3>Description:</h3>
            <p>Extravaganza is a mock website created for our Human-Computer 
                Interaction project, serving as a hub for stage plays, musicals,
                movies, and books. Users can explore detailed information, rate 
                their favorite media, and discover new entertainment experiences.
            </p>
            <h3>Role:</h3>
            <p>UI/UX Designer</p>
            <h3>Tools for Mockup:</h3>
            <p>Figma, Adobe Photoshop, Canva</p>
        </div>
        
    </div>

    <!-- Not available -->
    <div class="links">
    </div>

    <div class="body-container">
        <div class="mockup-container">
            <img src="../assets/web-design/extravaganza/1.png" alt="extravaganza-1" draggable="false">
            <img src="../assets/web-design/extravaganza/2.png" alt="extravaganza-2" draggable="false">
            <img src="../assets/web-design/extravaganza/3.png" alt="extravaganza-3" draggable="false">
            <img src="../assets/web-design/extravaganza/4.png" alt="extravaganza-4" draggable="false">
            <img src="../assets/web-design/extravaganza/5.png" alt="extravaganza-5" draggable="false">
            
        </div>
        
    </div>
    
</div>
