<router-outlet></router-outlet>
<div>
    <app-navbar></app-navbar>

    <div class="header">
        <h2>Law, Simplified</h2>
    </div>

    <div class="descriptions-container">
        <div class="descriptions">
            <h3>Description:</h3>
            <p>Law, Simplified is a platform dedicated to making legal knowledge
                accessible to everyone. Its mission is to break down barriers in
                the legal system by providing clear, easy-to-understand insights,
                education, and resources that empower individuals to understand
                and protect their rights. I was tasked with redesigning the
                existing newsletter page to create a more user-friendly and
                engaging experience, improving accessibility, readability, and 
                overall visual appeal to better encourage sign-ups and interaction.
            </p>
            <h3>Role:</h3>
            <p>Marketing and Creatives (Intern)</p>
            <h3>Tools for Mockup:</h3>
            <p>Figma</p>
        </div>
        
    </div>

    <!-- Not available -->
    <div class="links">
    </div>

    <div class="body-container">
        <div class="mockup-container">
            <img src="../assets/web-design/lawsimplified/1.png" alt="lawsimplified-1" draggable="false">
            
        </div>
        
    </div>
    
</div>

