.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin: 16px auto 0 auto;
    max-width: 80%;
    background-color: #1e1e1e;
}

.header h2 {
    padding: 8px;
    margin: 0 auto 0 16px;
    font-family: 'Oxygen', sans-serif;
    font-size: 32px;
    color: #e8e8e8;
}

.descriptions-container {
    margin: 0 auto 0 auto;
    max-width: 80%;
    background-color: #edf1f6;
    background-image: url("https://www.transparenttextures.com/patterns/church.png");;
}

.descriptions {
    padding: 8px;
    max-width: 80%;
}

.descriptions h3 {
    margin: 0 auto 4px 16px;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #1e1e1e;
}


.descriptions p {
    margin: 0 auto 8px 16px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #1e1e1e;
}


.links {
    justify-content: center;
    margin: 0 auto 23px auto;
    max-width: 80%;
    background-color: #1e1e1e;
}

.links p, .links a {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #e8e8e8;
    margin: 0;
}

.links a:hover {
    color: #edf1f6;
}

.fa-square-facebook {
    padding: 16px;
    color: #e8e8e8;
    font-size: 16px;
}

.designs-container {
    display: inline-block;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #1e1e1e;
    z-index: 0;
}

.main-posters {
    align-items: center;
}

.title-card {
    justify-content: center;
    margin: 0 auto 40px auto;
    max-width: 80%;
}

.title-card h2 {
    margin: 0 auto 4px 16px;
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    color: #e8e8e8;
}

.main-posters {
    margin-bottom: 40px;
}

.portrait-posters, 
.landscape-posters {
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.portrait-posters img,
.landscape-posters img {
    max-width: 15%;
    height: auto;
}

.img-frames {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.img-frames img {
    max-width: 15%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    font-weight: 16px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.close:hover {
    color: #1e1e1e;
}



@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        margin: 16px auto 0 auto;
        max-width: 95%;
    }
    
    .header h2 {
        padding: 8px;
        margin: 0 auto 0 16px;
        font-size: 16px;
    }
    
    .descriptions-container {
        max-width: 95%;
    }
    
    .descriptions {
        padding: 8px;
        max-width: 90%;
    }
    
    .descriptions h3 {
        margin: 0 auto 4px 16px;
        font-size: 12px;
    }
    
    .descriptions p {
        margin: 0 auto 8px 16px;
        font-size: 11px;
    }

    .links {
        max-width: 95%;
    }
    
    .links p, .links a {
        font-size: 11px;
        margin: 0;
    }

    .fa-square-facebook {
        padding: 8px;
        font-size: 16px;
    }

    .designs-container {
        max-width: 100%;
    }

    .title-card {
        margin: 0 auto 24px auto;
        max-width: 95%;
    }

    .title-card h2 {
        font-size: 18px;
    }
    
    .portrait-posters, 
    .landscape-posters {
        gap: 8px;
        margin-bottom: 8px;
    }
    
    .portrait-posters img,
    .landscape-posters img {
        max-width: 45%;
    }
    
    .img-frames {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
    
    .img-frames img {
        max-width: 45%;
    }
}