<!-- Hamburger Menu for Mobile -->
<div class="header-container">
    <button class="hamburger-menu" (click)="sidenav.toggle()">
        <i class="fa-solid fa-bars"></i>
    </button>
    
    <!-- Desktop Navigation -->
    <div class="selection" *ngIf="!isMobile">
        <button (click)="scrollToTop()">
            <a>Home</a>
        </button>
        <button (click)="scrollToIntro()">
            <a>About Me</a>
        </button>
        <button (click)="scrollToMyWorks()">
            <a>My Works</a>
        </button>
    </div>
</div>

<!-- Sidenav for Mobile -->
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" class="mobile-sidenav">
        <button mat-button (click)="scrollToTop(); sidenav.close()">Home</button>
        <button mat-button (click)="scrollToIntro(); sidenav.close()">About Me</button>
        <button mat-button (click)="scrollToMyWorks(); sidenav.close()">My Works</button>
    </mat-sidenav>
</mat-sidenav-container>
