<router-outlet></router-outlet>
<div>
    <app-navbar></app-navbar>

    <div class="header">
        <h2>Kajas</h2>
    </div>

    <div class="descriptions-container">
        <div class="descriptions">
            <h3>Description:</h3>
            <p>Kajas is an online platform designed as a central hub for graphic 
                designers, illustrators, photographers, and visual artists to 
                curate and manage their professional portfolios. 
            </p>
            <h3>Role:</h3>
            <p>UI/UX Designer, Frontend Developer</p>
            <h3>Tools for Mockup:</h3>
            <p>Figma, Adobe Photoshop, Canva</p>
        </div>
    </div>

    <div class="links">
        <i class="fa-brands fa-github"></i>
        <a href="https://github.com/Ayacocho-KylieRoss/Kajas" 
            target="blank">Github Sourcecode</a>
    </div>

    <div class="body-container">
        <div class="mockup-container">
            <!-- <img src="../assets/web-design/kajas/1.png" alt="kajas-1" draggable="false"> -->
            <img src="../assets/web-design/kajas/2.png" alt="kajas-2" draggable="false">
            <img src="../assets/web-design/kajas/3.png" alt="kajas-3" draggable="false">
            <img src="../assets/web-design/kajas/4.png" alt="kajas-4" draggable="false">
            <img src="../assets/web-design/kajas/5.png" alt="kajas-5" draggable="false">
            <img src="../assets/web-design/kajas/6.png" alt="kajas-6" draggable="false">
            <img src="../assets/web-design/kajas/7.png" alt="kajas-7" draggable="false">
            
        </div>
        
    </div>
    
</div>
