<router-outlet></router-outlet>
<div>
    <app-navbar></app-navbar>

    <div class="header">
        <h2>BioSync: Seamless Attendance Tracking and Scheduling with Biometrics</h2>
    </div>

    <div class="descriptions-container">
        <div class="descriptions">
            <h3>Description:</h3>
            <p>BioSync is a digital system for Polytechnic University of the Philippines - Taguig Campus
                that automates scheduling and attendance using biometric verification. It enhances 
                efficiency, security, and accessibility, replacing outdated manual 
                processes with a real-time, user-friendly solution.
            </p>
            <h3>Role:</h3>
            <p>UI/UX Designer, Frontend Developer</p>
            <h3>Tools for Mockup:</h3>
            <p>Figma, Adobe Photoshop, Canva</p>
        </div>
        
    </div>

    <!-- Not available because capstone is not done -->
    <div class="links">
    </div>

    <div class="body-container">
        <div class="mockup-container">
            <img src="../assets/web-design/biosync/1.png" alt="biosync-1" draggable="false">
            <img src="../assets/web-design/biosync/2.png" alt="biosync-2" draggable="false">
            <img src="../assets/web-design/biosync/3.png" alt="biosync-3" draggable="false">
            <img src="../assets/web-design/biosync/4.png" alt="biosync-4" draggable="false">
            <img src="../assets/web-design/biosync/5.png" alt="biosync-5" draggable="false">
            <img src="../assets/web-design/biosync/6.png" alt="biosync-6" draggable="false">
            
        </div>
        
    </div>
    
</div>
