<router-outlet></router-outlet>
<div>
    <app-navbar></app-navbar>

    <div class="header">
        <h2>Access to Justice: Illustrations</h2>
    </div>

    <div class="descriptions-container">
        <div class="descriptions">
            <h3>Description:</h3>
            <p>A collection of custom illustrations and visual assets crafted 
                to strengthen and unify the visual identity of A2J websites. 
                Each element was designed to align closely with the product’s 
                brand.
            </p>
            <h3>Role:</h3>
            <p>Marketing and Creatives (Intern)</p>
            <h3>Tools for Mockup:</h3>
            <p>Figma</p>
        </div>
        
    </div>

    <!-- Not available -->
    <div class="links">
    </div>

    <div class="body-container">
        <div class="mockup-container">
            <img src="../assets/graphic-design/lawadvisor/2.png" alt="a2j-1" draggable="false">
        </div>
        
    </div>
    
</div>

