<router-outlet></router-outlet>
<app-navbar></app-navbar>
<div class="graphic-designs-page">
    <div class="header">
        <h2>GRAPHIC DESIGNS</h2>
    </div>

    <div class="graphic-designs-container">
        <div (click)="goToLawAdvisor()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>LawAdvisor Ventures</h2>
                    <p>All graphic designs made for an On-The-Job Training in
                        LawAdvisor Ventures Ltd.</p>  
                </div>
                
            </div>
            <div class="right-inner">
                <img src="../assets/graphic-design/banners/lawadvisor.png" alt="cs-banner">
            </div>
        </div>

        <div (click)="goToComputerSociety()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>PUP Taguig Computer Society</h2>
                    <p>Publication Materials made for Organization Events.</p>  
                </div>
                
            </div>
            <div class="right-inner">
                <img src="../assets/img/graphic-banner.png" alt="cs-banner">
            </div>
        </div>

        <!-- <div (click)="goToOther()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>Other Projects</h2>
                    <p>Designs that are made for school projects and personal works.</p>
                </div>
            </div>
            <div class="right-inner">
                <img src="../assets/web-design/banners/2.png" alt="likha-banner">
            </div>
        </div> -->


    </div>
</div>


