<router-outlet></router-outlet>
<div>
    <app-navbar></app-navbar>

    <div class="header">
        <h2>Likha</h2>
    </div>

    <div class="descriptions-container">
        <div class="descriptions">
            <h3>Description:</h3>
            <p>Likha is a social media platform made exclusively for artists. 
                Showcase your creativity, connect with fellow artists, and 
                engage with a supportive community. Create unique artist
                 profile, upload and display your artwork, and interact through 
                 likes, comments, and shares.  
            </p>
            <h3>Role:</h3>
            <p>UI/UX Designer, Frontend Developer</p>
            <h3>Tools for Mockup:</h3>
            <p>Figma, Adobe Photoshop, Canva</p>
        </div>
        
    </div>

    <div class="links">
        <i class="fa-brands fa-github"></i>
        <a href="https://github.com/Ayacocho-KylieRoss/Likha" 
            target="blank">Github Sourcecode</a>
    </div>

    <div class="body-container">
        <div class="mockup-container">
            <img src="../assets/web-design/likha/1.png" alt="likha-1" draggable="false">
            <img src="../assets/web-design/likha/2.png" alt="likha-2" draggable="false">
            <img src="../assets/web-design/likha/3.png" alt="likha-3" draggable="false">
            <img src="../assets/web-design/likha/4.png" alt="likha-4" draggable="false">
            <img src="../assets/web-design/likha/5.png" alt="likha-5" draggable="false">
        </div>
        
    </div>
    
</div>
