<router-outlet></router-outlet>
<app-navbar></app-navbar>
<div class="web-designs-page">
    <div class="header">
        <h2>WEB DESIGNS</h2>
    </div>

    <div class="web-designs-container">
                <div (click)="goToLawSimplified()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>Law, Simplified</h2>
                    <p>A project to redesign the newsletter page during an 
                        On-The-Job Training in LawAdvisor Ventures Ltd. </p>  
                </div>
                
            </div>
            <div class="right-inner">
                <img src="../assets/web-design/banners/5.png" alt="lawsimplified-banner">
            </div>
        </div>

        <div (click)="goToBioSync()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>BioSync</h2>
                    <p>Mockup design for our Capstone Project.</p>  
                </div>
                
            </div>
            <div class="right-inner">
                <img src="../assets/web-design/banners/1.png" alt="biosync-banner">
            </div>
        </div>

        <div (click)="goToLikha()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>Likha</h2>
                    <p>Mock design for our final project in Web Development.</p>
                </div>
            </div>
            <div class="right-inner">
                <img src="../assets/web-design/banners/2.png" alt="likha-banner">
            </div>
        </div>

        <div (click)="goToKajas()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>Kajas</h2>
                    <p>Mock design for our final project in App Development.</p>
                </div>
                
            </div>
            <div class="right-inner">
                <img src="../assets/web-design/banners/3.png" alt="kajas-banner">
            </div>
        </div>

        <div (click)="goToExtravaganza()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>Extravaganza</h2>
                    <p>Mock web design for our Human Computer Interaction activity.</p> 
                </div>
                
            </div>
            <div class="right-inner">
                <img src="../assets/web-design/banners/4.png" alt="extravaganza-banner">
            </div>
        </div>
    </div>
</div>


