<router-outlet></router-outlet>
<div>
    <app-navbar></app-navbar>

    <div class="header">
        <h2>Access to Justice: Social Media Posts</h2>
    </div>

    <div class="descriptions-container">
        <div class="descriptions">
            <h3>Description:</h3>
            <p>Designed upcoming social media posts for LawAdvisor’s 
                Instagram page, aligning visuals and messaging with the 
                brand’s identity and overall content strategy.
            </p>
            <h3>Role:</h3>
            <p>Marketing and Creatives (Intern)</p>
            <h3>Tools for Mockup:</h3>
            <p>Figma</p>
        </div>
        
    </div>

    <!-- Not available -->
    <div class="links">
    </div>

    <div class="body-container">
        <div class="mockup-container">
            <img src="../assets/graphic-design/lawadvisor/3.png" alt="a2j-1" draggable="false">
        </div>
        
    </div>
    
</div>

