@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Oxygen:wght@300;400;700&display=swap');

body {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #231D1D;
    border-radius: 8px;
    border: 3px solid #e8e8e8;
}

::-webkit-scrollbar-track {
    background-color: #e8e8e8;
}

::-webkit-scrollbar-button {
    display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
