html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.body-container {
    display: block;
    align-items: center;
    padding: 24px 0 24px 0;
    /* background-color: #edf1f6; */
    z-index: 0;
}

/* .hello-greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hello-greetings img {
    max-width: 30%;
} */

.about-me-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    max-width: 64%;
    background-color: #edf1f6;
    background-image: url("https://www.transparenttextures.com/patterns/church.png");
}

.upper-border {
    display: flex;
    justify-content: center;
    margin: 8vh auto 0 auto;
    max-width: 64%;
    height: 32px;          
    background-color: #1c67c4;
}

.about-me-columns {
    display: flex;
    max-width: 100%;
}

.links-content {
    max-width: 100%;
}

.about-left-column {
    padding: 80px;
    margin: 0 0 0 23px;
    display: block;
    justify-content: center;
    flex: 1;
}

.about-left-column h1 {
    text-align: left;
    margin: 0;
    font-family: 'Krona One', sans-serif;
    font-size: 48px;
    color:  #1c67c4;
}

.about-left-column p {
    text-align: justify;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #1e1e1e;
}

.picture-right-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.picture-right-column img {
    margin: 23px;
    max-width: 80%;
    max-height: 80%;
    border-radius: 30% 0;
    /* border: 4px solid #1e1e1e;    */
}

.links-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 64%;
    background-color: #1c67c4;
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 16px;
    width: 100%;
    gap: 30px;
}

.links a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.links p {
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    color:  #e8e8e8;
    font-size: 16px;
    margin: 0;
}

.fa-envelope, 
.fa-linkedin {
    color: #e8e8e8;
    font-size: 16px;
}

.email-link:hover i,
.email-link:hover p,
.linkedin-link:hover i,
.linkedin-link:hover p {
    transition: color 0.3s ease;
    color: #9d8be0;
}

.my-works-header {
    background-color: #1c67c4;
    overflow: hidden;
    width: 72%; 
    margin: 104px auto 64px auto;
}

.scroll-container {
    display: flex;
    white-space: nowrap;
    width: 100%;
}

.scroll-text {
    display: flex;
    animation: scroll 20s linear infinite;
}

.scroll-text span {
    display: inline-block;
    font-family: 'Krona One', sans-serif;
    font-size: 48px;
    color: #e8e8e8;
    letter-spacing: 2px;
    padding-right: 2rem;
}

/* Animation keyframes */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.my-works-container {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 23px auto;
    max-width: 72%;
}

.my-works-container h2 {
    padding: 8px;
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    color: #1c67c4;
}

.web-designs-container,
.graphic-designs-container  {
    display: flex;
    margin: 0 0 32px 0;
    height: 200px;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
}

.web-designs-container:hover,
.illustrations-container:hover,
.graphic-designs-container:hover  {
    transform: scale(1.01);
    box-shadow: 4px 8px 8px #000000;
}

.web-designs-container:hover img,
.graphic-designs-container:hover img  {
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
    transform: scale(1.02);
}

.web-designs-container:hover img,
.graphic-designs-container:hover img  {
    color: #7967be;
    box-shadow: inset 8px 8px 80px 100px #9d8be0;
}

.web-designs-container:hover h2,
.graphic-designs-container:hover h2 {
    color: #7967be;
}

.left-web-designs {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #1c67c4;
}

.right-web-designs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex: 1;
    background-color: #e8e8e8;
}

.left-graphic-designs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex: 1;
    background-color: #e8e8e8;
}

.right-graphic-designs {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #1c67c4;  
}

.left-web-designs img {
    height: 100%;
    width: auto;
}

.right-graphic-designs img {
    height: 100%;
    width: auto;
}

.back-to-top {
    width: 40px;
    height: 40px;
    bottom: 16px;
    right: 16px;
    font-size: 16px;
    position: fixed;
    background-color: #7967be;
    color: #e8e8e8;
    border: none;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-to-top:hover {
    background-color: #7967be;
}

/* mobile view */
@media screen and (min-width: 320px) and (max-width: 767px) {
    /* .hello-greetings {
        height: 96vh;
    } */

    .upper-border {
        max-width: 90%;
        height: 16px;          
}

    .about-me-container {
        max-width: 90%;
    }

    .about-left-column {
        padding: 8px;
        margin: 0;
        justify-content: center;
        flex: 1;
    }
    
    .about-left-column h1 {
        text-align: center;
        font-size: 24px;
    }
    
    .about-left-column p {
        margin: 8px auto 8px 8px;
        font-size: 9px;
    }
    
    .picture-right-column img {
        margin: 0px;
        max-width: 100px;
        max-height: 100px;  
    }

    .links-container {
        max-width: 90%;
    }

    .links {
        padding: 8px;
        gap: 24px;
    }

    .links p {
        font-family: 'Krona One', sans-serif;
        color:  #e8e8e8;
        font-size: 9px;
    }

    .fa-envelope, 
    .fa-linkedin {
        font-size: 9px;
    }

    .my-works-header {
        width: 100%; 
        margin: 64px auto 40px auto;
    }

    .scroll-container {
        display: flex;
        white-space: nowrap;
        width: 100%;
    }

    .scroll-text {
        display: flex;
        animation: scroll 20s linear infinite;
    }

    .scroll-text span {
        display: inline-block;
        font-family: 'Krona One', sans-serif;
        font-size: 24px;
        color: #e8e8e8;
        letter-spacing: 2px;
        padding-right: 2rem;
    }

    .my-works-container {
        max-width: 90%;
    }

    .my-works-container h2 {
        padding: 8px;
        font-size: 16px;
    }

    .web-designs-container,
    .illustrations-container,
    .graphic-designs-container  {
        margin: 0 0 24px 0;
        height: 100px;
    }
}

/* tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* .hello-greetings {
        height: 96vh;
    } */

    .about-me-container {
        max-width: 50%;
        margin: 4vh auto 0 auto;
    }

    .about-left-column {
        padding: 8px;
        margin: 0;
        justify-content: center;
        flex: 1;
    }
    
    .about-left-column h1 {
        text-align: center;
        font-size: 16px;
    }
    
    .about-left-column p {
        margin: 8px 0 8px 8px;
        font-size: 9px;
    }
    
    .picture-right-column img {
        margin: 8px;
        max-width: 100px;
        max-height: 100px;  
    }

    .links-container {
        display: row;
        justify-content: center;
        max-width: 60%;
    }

    .links {
        display: block;
        margin: 0 0 0 8px;
        padding: 4px;
        gap: 23px;
    }
    
    .links p, .links a {
        font-size: 9px;
        margin: 0;
    }

    .fa-envelope, 
    .fa-linkedin {
        font-size: 12px;
    }

    .my-works-header {
        max-width: 60%;
        margin: 40px auto 0;
    }

    .my-works-container {
        max-width: 60%;
    }
    
    .my-works-header h2 {
        font-size: 16px;
        /* -webkit-text-stroke: 1px #e8e8e8; */
    }

    .my-works-container h2 {
        padding: 8px;
        font-family: 'Oxygen', sans-serif;
        font-size: 16px;
        color: #e8e8e8;
    }

    .web-designs-container,
    .illustrations-container,
    .graphic-designs-container  {
        margin: 0 0 24px 0;
        height: 100px;
    }
}