<router-outlet></router-outlet>
<app-navbar></app-navbar>
<div class="la-designs-page">
    <div class="header">
        <h2>LawAdvisor Ventures</h2>
    </div>

    <div class="la-designs-container">
        <div (click)="goToLegalEyeIcons()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>LegalEye Redesigned Icons</h2>
                    <p>Developed a set of redesigned icons for the LegalEye 
                        navigation bar.
                    </p>  
                </div>
                
            </div>
            <div class="right-inner">
                <img src="../assets/graphic-design/banners/1.png" alt="legaleye-banner">
            </div>
        </div>

        <div (click)="goToA2JIllustrations()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>Access to Justice: Illustrations</h2>
                    <p>A collection of illustrations and assets designed to 
                        enhance the visual identity of A2J websites.
                    </p>  
                </div>
                
            </div>
            <div class="right-inner">
                <img src="../assets/graphic-design/banners/2.png" alt="illustrations-banner">
            </div>
        </div>

        <div (click)="goToA2JSocials()" class="containers">
            <div class="left-inner">
                <div class="left-details">
                    <h2>Access To Justice: Social Media Posts</h2>
                    <p>Designed social media posts for LawAdvisor’s 
                        Instagram page.
                    </p>  
                </div>
                
            </div>
            <div class="right-inner">
                <img src="../assets/graphic-design/banners/3.png" alt="socmed-banner">
            </div>
        </div>
    

    </div>
</div>